{% extends "layout.html" %}

{% block title %}
AI Rating Predictor
{% endblock %}

{% block content %}

<section class="container fade">

    <div class="card text-center">

        <h1 class="page-title">
            AI Rating Predictor
        </h1>

        <p class="text-gray">
            Hệ thống dự đoán Rating ứng dụng bằng Machine Learning.
        </p>

        <div class="mt-3">

            <a href="{{ url_for('home') }}"
               class="btn-primary">
                Bắt đầu
            </a>

        </div>

    </div>

</section>

{% endblock %}