<!-- =====================================================
     FOOTER
===================================================== -->

<footer class="main-footer">

    <div class="container text-center">

        <p class="mb-1 fw-semibold">

            <i class="bi bi-robot me-1"></i>

            AI Rating Predictor © 2026

        </p>

        <small class="text-muted">

            Flask
            •
            SQLAlchemy
            •
            Bootstrap
            •
            Scikit-Learn
            •
            Machine Learning

        </small>

    </div>

</footer>